
.contenedor-calendario{
    margin: auto;
    /*background-color: rgb(255, 205, 205);*/
    margin-top: 5em;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/calendario2.jpg);
    background-size: cover;
    padding: 2rem;
    border-radius: 10px;
    width: 85%;
}

.calendario{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% ;
    column-gap: 3px;
    text-align: center;
    row-gap: 3px;
}
.nombre-dia{
    background-color: #303134;
    color: white;
}

.dia-actual{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4px;
}

.selector{
    display:grid;
    grid-template-columns:50% 50%;
    width: 30%;
    margin: auto;
    justify-items:center;
}

.selector-mes,.selector-anio{
    display:flex;
    flex-direction: column;
    width: 100%;

}

.tarjeta-dia{
    display: flex;
    /*display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    justify-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;*/
    flex-direction: column;
    padding: 0.1em;
    background-image: url("../img/crateres.jpg");
    background-attachment: fixed;
    color:black;
}

.div-dia{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
}

.tarjeta-dia a{
    text-decoration: none;
    color: whitesmoke;
}
.tarjeta-dia a:hover{
    text-decoration: none;
    color: whitesmoke;
    background-color: black;
}

.tarjeta-dia:hover{
    opacity: 1 !important;
    cursor: pointer;
    transform:scale(1.25);
    z-index: 1000;
    border: 2px solid white;
}

.contenedor-calendario{
    color: #303030;
    font-family: "Cabin","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body{
    background-image: url(../img/star-sky.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-size: cover;
}

#mes,#anio{
    font-size: 1em;
    background-color: white;
    padding-left: 1em;
    padding-right: 1em;
    color: black;
    border-right-color: black;
    text-align: center;
}

#mes{
    border-left-color: black;
    border-left-width: 2px;
    border-left-style: solid;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
}

#anio{
    border-left-color: black;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: black;
    border-right-width: 2px;
    border-right-style: solid;
}

.control{    
    background: linear-gradient( 
        -180deg
        , #ffffff 68%, black 68%, black 74%, rgb(0 0 0) 74%);
    border: 2px solid black;
    display: flex;
    padding-bottom: 0.5em;
}

.control:hover{    
    background: linear-gradient( 
        -180deg
        , #c0bcb3 85%, black 85%, black 100%);
    cursor:pointer;
}

.alreves{
    transform: rotateZ(180deg);
}

a.fa-globe {
    position: relative;
    font-size: 2em;
    color: grey;
    cursor: pointer;
}
span.fa-comment {
    position: absolute;
    font-size: 0.6em;
    top: -4px;
    color: red;
    right: -4px;
}
/*
span.num {
  position: absolute;
  font-size: 0.3em;
  top: 1px;
  color: #fff;
  right: 2px;
}*/

a.notif {
    position: relative;
    display: block;
    height: 2em;
    width: 2em;
    background: url('https://cdn-icons-png.flaticon.com/512/4407/4407079.png');
    background-size: contain;
    text-decoration: none;
}

a.agregar{
    position: relative;
    display: block;
    height: 2em;
    width: 2em;
    background: url('../img/agregarEvento.png');
    background-size: contain;
    text-decoration: none;
}

a.agregar:hover{
    cursor:pointer;
    transform: scale(1.5);
    background-color:transparent;
    z-index: 100;
}


a.notif:hover{
    cursor: pointer;
    transform: scale(1.25);
    background-color:transparent;
    animation: example 0.5s 2 linear;
    z-index: 100;
}

@keyframes example {
  0% {
      transform: rotateZ(0deg);
  }
  25% {
      transform: rotateZ(25deg);
  }
  50% {
      transform: rotateZ(0deg);
  }
  75% {
      transform: rotateZ(-25deg);
  }
  100% {
      transform: rotateZ(0deg);
  }
}
.num {
    position: absolute;
    /*right: 11px;
    top: 6px;*/
    color: black;
    background-color: red;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 50%;
}

#cargando{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3000;
    display: flex;
    background-color: #000000b8;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.oculto{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: flex;
    background-color: #000000b8;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.div-dia{
    margin-bottom: 5px;
}

.eventos{
    margin-top: 5px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

table{
    width:100%;
}
tbody{
    color:white;
}

.switch-button {
	 background: rgba(255, 255, 255, 0.56);
	 border-radius: 30px;
	 overflow: hidden;
	 width: 240px;
	 text-align: center;
	 font-size: 18px;
	 letter-spacing: 1px;
	 color: #303030;
	 position: relative;
	 padding-right: 120px;
	 position: relative;
}
 .switch-button:before {
	 content: "Siembra";
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 right: 0;
	 width: 120px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 z-index: 3;
	 pointer-events: none;
}
 .switch-button-checkbox {
	 cursor: pointer;
	 position: absolute;
	 top: 0;
	 left: 0;
	 bottom: 0;
	 width: 100%;
	 height: 100%;
	 opacity: 0;
	 z-index: 2;
}
 .switch-button-checkbox:checked + .switch-button-label:before {
	 transform: translateX(120px);
	 transition: transform 300ms linear;
}
 .switch-button-checkbox + .switch-button-label {
	 position: relative;
	 padding: 15px 0;
	 display: block;
	 user-select: none;
	 pointer-events: none;
}
 .switch-button-checkbox + .switch-button-label:before {
	 content: "";
	 background: #fff;
	 height: 100%;
	 width: 100%;
	 position: absolute;
	 left: 0;
	 top: 0;
	 border-radius: 30px;
	 transform: translateX(0);
	 transition: transform 300ms;
}
 .switch-button-checkbox + .switch-button-label .switch-button-label-span {
	 position: relative;
}

.creacion{   
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}

.creacion h1{
    margin:0;
}

.creacion2{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    color:white;
    padding: 0.5em;
}

#creacion{
    background-color:#303030;
    color: white;
    padding: 2em;border-radius: 2em; display:flex; flex-direction: column;
}